@import "./styles/settings/_settings";

main {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.advice-container {
  background-color: $color-neutral--grayish-blue;
  width: 50rem;
  text-align: center;
  padding: 1.8rem 3.2rem;

  .advice-title {
    text-transform: uppercase;
    font-size: 1.6rem;
  }
}
