/*************/
/* Typography */
/*************/

// Body Copy
$font-size--main: 1.6rem;

// Font
$font-family--dm-serif-display: "DM Serif Display", serif;
$font-weights--dm-serif-display-400: 400;

$font-family--karla: "Karla", sans-serif;
$font-weights--karla-400: 400;
$font-weights--karla-700: 700;

// Line heights
$line-heights--default: 1;
$line-heights--small: 1.05;
$line-heights--medium: 1.2;
$line-heights--paragraph-default: 1.6;
$line-heights--Large: 1.8;

// Letter spacing
$letter-spacing--default: -0.5px;
$letter-spacing--small: 0.75px;

/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
