@use "./settings/_settings" as *;

/**************************/
/* GENRAL REUSABLE COMPONENTS */
/**************************/

.container {
  max-width: $width-layout--desktop;

  margin: 0 auto;
  // padding-right: 16rem;
  // padding-left: 16rem;

  padding: 0 16rem;
}
