@use "./settings/_settings" as *;

/**************************/
/* GENRAL REUSABLE COMPONENTS */
/**************************/

.container {
  max-width: $width-layout--desktop;
  margin: 0 auto;
  padding: 0 16rem;
}
