@import "./settings/_settings";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: $font-family--karla-sans-serif;
  // background-color: $color-neutral--dark-blue;
  line-height: 1;
  font-weight: 400;
  // color: $color-primary--light-Cyan;
  font-size: $font-size--main;
  overflow-x: hidden;
}
