@use "./settings/_settings" as *;

/**************************/
/* BELOW 1136px */
/**************************/

@media (max-width: 71em) {
  // .header{}
  .header,
  .container {
    padding: 0 8rem !important;
  }

  .section-hero .hero {
    height: auto;
  }
}

/**************************/
/* BELOW 992px */
/**************************/

@media (max-width: 62em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }

  .hero::before {
    width: 397px;
    height: 440px;
    top: 24.5rem;
    right: -30.5rem;
  }

  .cta-container {
    .cta-text-box::before {
      width: 380px;
      height: 290px;
      top: 16.2rem;
      right: -21.1rem;
    }
  }

  .footer::before {
    width: 488px;
    height: 208px;
  }
}

/**************************/
/* BELOW 898px */
/**************************/

@media (max-width: 56.1em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }

  .section-hero {
    padding: 0px 0 15rem 0;
  }

  .section-hero .hero {
    gap: 2rem;
    align-items: center;
  }

  .hero-text-box {
    margin-bottom: 4rem;
  }

  .hero::before {
    width: 379px;
    height: 350px;
    top: 21.8rem;
    right: -39.4rem;
  }

  .hero::after {
    width: 145px;
    height: 355px;
    top: 54.5rem;
    left: 9rem;
  }

  .cta-container {
    .cta-text-box::before {
      width: 338px;
      height: 260px;
      top: 16.2rem;
      right: -21.1rem;
    }
  }

  .footer::before {
    width: 435px;
    height: 186px;
  }
}

/**************************/
/* BELOW 776px */
/**************************/

@media (max-width: 48.5em) {
  .cta-container {
    .cta-text-box {
      flex-direction: column;
      text-align: center;
    }

    .cta-text-box::before {
      width: 176px;
      height: 280px;
      top: 17.5rem;
      right: -13.5rem;

      background-image: url(../assets/images/bg-pattern-how-we-work-mobile.svg);
    }
  }
}

/**************************/
/* BELOW 650px */
/**************************/

@media (max-width: 41em) {
  .header,
  .container {
    padding: 0 4rem !important;
  }

  // mobile navigation
  .header {
    z-index: 9999;
    a {
      z-index: 9999;
    }
  }

  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .main-nav-list {
    .main-nav-link:link,
    .main-nav-link:visited {
      color: $color-neutral--very-light-gray !important;
    }
  }

  .main-nav {
    background-color: $color-neutral--very-dark-violet;
    // -webkit-backdrop-filter: blur(5px);
    // backdrop-filter: blur(10px);
    color: $color-neutral--very-light-gray;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    z-index: 99;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* Hide navigation */
    /* Allows NO transitions at all */
    /* display: none; */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav.icon-close {
    display: block;
  }

  .nav-open .icon-mobile-nav.icon-hamburger {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }

  // hero section
  .section-hero .hero {
    flex-direction: column-reverse;
  }

  .hero-text-box {
    padding: 5rem 3rem;
    .divider {
      display: none;
    }

    text-align: center;
  }

  .hero-img-box {
    width: 100%;
  }

  // features section
  .section-features {
    text-align: center;
  }

  .feature-container-heading {
    .divider {
      display: inline-block;
    }

    .heading-secondary {
      margin-bottom: 10rem;
    }
  }

  .feature-container-list {
    flex-direction: column;
    align-items: center;
    gap: 8rem;

    .feature {
      width: 45rem;
    }
  }
  // features section
  .cta-container .cta-text-box {
    .heading-primary {
      width: auto;
    }
  }
  // footer section
  .nav-container {
    padding-right: 0;
  }
}

/**************************/
/* BELOW 400px */
/**************************/

@media (max-width: 25em) {
  .header,
  .container {
    padding: 0 3rem !important;
  }

  .section-hero .hero {
    gap: 0;
    padding: 0 !important;
  }

  .hero-text-box {
    // padding: ;
    margin-bottom: 0;
    padding: 10rem 3rem;

    position: relative;

    .heading-primary {
      font-size: 5.6rem;
    }

    .hero-description {
      margin-bottom: 5.5rem;
      font-size: 1.8rem;
    }
  }

  .hero-text-box::after {
    content: "";
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);

    width: 168px;
    height: 165px;

    top: 9.9rem;
    left: 10rem;

    background-image: url(/src/assets/images/bg-pattern-intro-left-mobile.svg);
  }

  .hero::before {
    width: 124px;
    height: 330px;

    top: 109.8rem;
    right: -8.4rem;

    background-image: url(/src/assets/images/bg-pattern-intro-right-mobile.svg);
  }

  .hero::after {
    display: none;
  }

  .feature-container-heading .heading-secondary {
    font-size: 5.6rem;
  }

  .feature-container-list .feature {
    width: auto;
  }

  .cta-container .cta-text-box {
    padding: 8.5rem 3rem;
  }

  .logo-container {
    .logo-col {
      flex-direction: column;
      align-items: center;
      gap: 3.5rem;

      margin-bottom: 4.8rem;
    }

    .divider {
      margin-bottom: 4.8rem;
    }
  }

  .nav-container {
    flex-direction: column;
    /* align-items: center; */
    text-align: center;
    gap: 3.6rem;
  }

  .footer::before {
    width: 374px;
    height: 173px;

    top: 10.8rem;
    left: 23rem;

    background-image: url(/src/assets/images/bg-pattern-footer-mobile.svg);
  }
}
