// ## Colors

// ### Primary
$color-primary--soft-red: hsl(7, 99%, 70%);
$color-primary--yellow: hsl(51, 100%, 49%);
$color-primary--dark-desaturated-cyan--graphic-design-text: hsl(167, 40%, 24%);
$color-primary--dark-blue--photography-text: hsl(198, 62%, 26%);
$color-primary--dark-moderate-cyan--footer: hsl(168, 34%, 41%);

// ### Neutral
$color-neutral--very-dark-desaturated-blue: hsl(212, 27%, 19%);
$color-neutral--very-dark-grayish-blue: hsl(213, 9%, 39%);
$color-neutral--dark-grayish-blue: hsl(232, 10%, 55%);
$color-neutral--grayish-blue: hsl(210, 4%, 67%);
$color-neutral--white: hsl(0, 0%, 100%);
