/*************/
/* Colors */
/*************/

// Primary

$color-primary--white: hsl(0, 0%, 100%);
$color-primary--black: hsl(0, 0%, 0%);
$color-primary--dark-gray: hsl(0, 0%, 55%);
$color-primary--very-dark-gray: hsl(0, 0%, 41%);

// Neutral
