@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html {
    @apply text-xl;
  }

  body {
    @apply text-[1.8rem] font-rubik;
  }

  #root {
    @apply h-screen flex flex-col justify-center items-center;
  }

  .main {
    @apply min-w-[1000px] max-w-[95%];
  }

  .cards {
    @apply grid gap-[25px];
  }

  .card {
    @apply min-h-[230px] rounded-[2.5rem] relative h-full p-[25px];
  }

  .profile {
    @apply bg-[hsl(235,46%,20%)] z-[2] text-[hsl(236,100%,87%)];
  }

  .profile .content {
    @apply absolute top-0 left-0 h-[70%] w-full rounded-[1.8rem] bg-[hsl(246,80%,60%)] z-[1] p-[25px];
  }

  .profile .content img {
    @apply w-[85px] h-[85px] rounded-full border-2 border-white mb-[32px];
  }

  .report .user {
    @apply inline-block mt-[15px]  text-white font-light text-[4rem];
  }

  .profile .links {
    @apply z-[100] absolute bottom-0 h-[30%] w-full flex flex-col justify-center gap-[5px];
  }

  .links a {
    @apply text-[hsl(235,45%,61%)];
  }

  .links a.active {
    @apply text-white;
  }

  .card.work {
    @apply bg-[hsl(15,100%,70%)] before:top-[-4%] before:right-[4%] before:scale-[75%] before:absolute before:z-[1] before:content-workIcon;
  }

  .card.exercise {
    @apply bg-[hsl(145,58%,55%)] before:top-[-4%] before:right-[4%] before:scale-[75%] before:absolute before:z-[1] before:content-exerciseIcon;
  }

  .card.play {
    @apply bg-[hsl(195,74%,62%)] before:top-[-4%] before:right-[4%] before:scale-[75%] before:absolute before:z-[1] before:content-playIcon;
  }

  .card.social {
    @apply bg-[hsl(264,64%,52%)] before:top-[-4%] before:right-[4%] before:scale-[75%] before:absolute before:z-[1] before:content-socialIcon;
  }

  .card.study {
    @apply bg-[hsl(348,100%,68%)] before:top-[-4%] before:right-[4%] before:scale-[75%] before:absolute before:z-[1] before:content-studyIcon;
  }

  .card.selfcare {
    @apply bg-[hsl(43,84%,65%)] before:top-[-4%] before:right-[4%] before:scale-[75%] before:absolute before:z-[1] before:content-careIcon;
  }

  .card:not(.profile) .content {
    @apply absolute top-[20%] left-0 h-[80%] w-full rounded-[25px] bg-[hsl(235,46%,20%)] z-[2] p-[25px];
  }

  .card:not(.profile) .content h2 {
    @apply text-white inline-block;
  }

  button.ellipses {
    @apply absolute top-[25px] right-[25px] flex justify-center items-center p-[8px];
  }

  .card .current {
    @apply block  text-[4.4rem] text-white font-light pt-[20px];
  }

  .card .previous {
    @apply block text-[1.4rem] text-[hsl(236,100%,87%)] font-light  mt-[2px];
  }

  .card .previous span {
    @apply ml-[3px];
  }
}

.cards {
  grid-template-areas:
    "profile work play study"
    "profile exercise social selfcare";

  .profile {
    grid-area: profile;
  }

  .work {
    grid-area: work;
  }

  .exercise {
    grid-area: exercise;
  }

  .play {
    grid-area: play;
  }

  .social {
    grid-area: social;
  }

  .study {
    grid-area: study;
  }

  .selfcare {
    grid-area: selfcare;
  }
}
