@use "../../styles/settings/_settings" as *;

.section-hero {
  padding: 0 0 30rem 0;

  .hero {
    position: relative;
    background-color: $color-primary--dark-violet;

    // max-width: $width-layout--desktop;
    // margin: 0 auto;
    // padding: 8rem 16rem !important;
    padding: 8rem 16rem;

    // padding-top: 8rem;
    // padding-bottom: 8rem;

    height: 80vh;

    display: flex;
    // flex-direction: column;
    // align-items: center;
    gap: 6rem;
  }
}

.hero::before,
.hero::after {
  content: "";
  display: block;
  position: absolute;

  transform: translate(-50%, -50%);
}

.hero::before {
  width: 397px;
  height: 525px;
  top: 26.5rem;
  right: -21rem;

  background-image: url("../../assets/images/bg-pattern-intro-right-desktop.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.hero::after {
  width: 195px;
  height: 504px;

  top: 63.5rem;
  left: 10rem;

  background-image: url("../../assets/images/bg-pattern-intro-left-desktop.svg");

  background-size: contain;
  background-repeat: no-repeat;
}
.hero-text-box {
  .divider {
    border-top: 1.2px solid #bbb;
    width: 15rem;
    margin-bottom: 5.2rem;
  }

  .heading-primary {
    margin-bottom: 2.2rem;

    font-family: $font-family--dm-serif-display--serif;
    font-size: 6.2rem;

    font-weight: 400;
    color: $color-neutral--very-light-gray;
  }

  .hero-description {
    line-height: 1.5;
    margin-bottom: 3.6rem;

    color: hsl(0, 3%, 79%);
  }

  .hero-btn {
    text-decoration: none;
    border: 0.25rem solid hsl(0, 10%, 85%);

    padding: 1rem 2.4rem;
    text-transform: uppercase;
    font-weight: 400;
    color: $color-neutral--very-light-gray;

    transition: all 0.5s;
  }

  .hero-btn:hover,
  .hero-btn:active {
    background-color: hsl(0, 10%, 85%);
    color: $color-primary--dark-violet;
  }
}

.hero-img-box {
  width: 145rem;
  .hero-img {
    width: 100%;
  }
}
