@tailwind base;
@tailwind components;
@tailwind utilities;

/* ---------- CSS RESET ----------- */

/* box-sizing */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* remove default margin */
body,
h1,
p {
  margin: 0;
}

/* set core body defaults */
body {
  /* min-height: 100vh; */
  line-height: 1.5;
}

/* set image and picture */
img,
picture {
  width: 100%;
  display: block;
}

/* ---------- CSS VARIABLE ---------- */

:root {
  /* color sistem */
  --clr-violet: hsl(257, 40%, 49%);
  --clr-magenta: hsl(300, 69%, 71%);

  /* typography */
  --ff-poppins: "Poppins", sans-serif;
  --ff-openSans: "Open Sans", sans-serif;
  --fw-400: 400;
  --fw-600: 600;
}

body {
  background-color: var(--clr-violet);
  background-image: url("./images/bg-desktop.svg");
  background-repeat: no-repeat;

  color: #fff;
  font-family: var(--ff-openSans);
  font-size: 1rem;

  height: 100vh;
}

.hero__heading {
  font-family: var(--ff-poppins);
  font-weight: var(--fw-600);
}

.btn {
  font-family: var(--ff-poppins);
  color: var(--clr-violet);
}

.btn:focus,
.btn:hover {
  background: var(--clr-magenta);
}

.icons-wrapper svg path:focus,
.icons-wrapper svg path:hover {
  stroke: var(--clr-magenta);
  fill: var(--clr-magenta);
}

/**********/
/* Header */
/**********/
.header {
  /* height: 7.6rem; */
  /* padding: 0 7rem; */

  /* display: flex; */
  /* align-items: center; */
}

.logo {
  /* width: 11.5rem; */
}

/****************/
/* section hero */
/****************/
.section-hero {
  /* margin-top: 1.2rem; */
}

.hero {
  /* max-width: 120rem; */
  /* margin: 0 auto; */
  /* padding: 0 7.3rem; */

  /* display: flex; */
  /* gap: 2rem; */
}

.hero-text-box {
  /* width: 30rem; */
}

.hero__heading {
  /* font-family: var(--ff-poppins); */
  /* font-weight: var(--fw-600); */
  /* font-size: 2.35rem; */
  /* margin-top: 3rem; */
}

.hero__content {
  /* margin-top: 1rem; */
  /* margin-bottom: 2rem; */
}

.btn {
  /* display: inline-flex; */
  /* font-family: var(--ff-poppins); */
  /* color: var(--clr-violet); */
  /* font-size: 1rem; */
  /* background: #fff; */
  /* box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.5); */
  /* padding: 0.85rem 3.5rem; */
  /* border-radius: 100px; */
  /* transition: all 0.3s; */
}

.btn:focus,
.btn:hover {
  /* background: var(--clr-magenta); */
  /* color: #fff; */
  /* cursor: pointer; */
}

/****************/
/* section contact */
/****************/

.section-contact {
  /* margin-top: 0.8rem; */
}

.icons-wrapper {
  /* max-width: 120rem; */
  /* padding: 0 6.2rem; */

  /* display: flex; */
  /* justify-content: flex-end; */
  /* gap: 1rem; */
}

.icons-wrapper svg path:focus,
.icons-wrapper svg path:hover {
  /* stroke: var(--clr-magenta); */
  /* fill: var(--clr-magenta); */

  /* cursor: pointer; */
}

/********  Media Query *********/

@media (max-width: 71em) {
  .header {
    padding: 0 5.2rem;
  }
  .hero {
    padding: 0 5.2rem;
  }
  .hero__heading {
    margin-top: 1rem;
  }
}

@media (max-width: 57.5em) {
  .hero__heading {
    margin-top: 0;
    font-size: 1.25rem;
  }
}

@media (max-width: 47.5em) {
  main {
    padding-bottom: 2rem;
  }
  .hero {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .hero-text-box {
    /* display: flex; */
    width: auto;
  }
  .hero__heading {
    margin-top: 3rem;
    font-size: 2.35rem;
  }
  .btn {
    padding: 0.85rem 4.5rem;
  }

  .icons-wrapper {
    margin-top: 4.5rem;
    justify-content: center;
  }
}

@media (max-width: 31.25em) {
  body {
    background-image: url("./images/bg-mobile.svg");
    background-position: 50% 0;
    background-size: 100%;
  }
  .header {
    padding: 0 3.5rem;
  }

  .hero {
    padding: 0 3.5rem;
  }

  .hero__heading {
    font-size: 1.65rem;
    margin-top: 1.5rem;
  }
}
