@use "../../styles/settings/_settings" as *;

.footer {
  padding: 7.2rem 0;
  background-color: $color-neutral--very-light-gray;

  position: relative;
  z-index: 1;
}

.footer::before {
  content: "";
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 231px;

  top: 11.5rem;
  left: 27rem;

  z-index: 1;

  background-image: url("../../assets/images/bg-pattern-footer-desktop.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.footer-container {
  position: relative;
  z-index: 999;
}

.logo-container {
  .logo-col {
    display: flex;
    justify-content: space-between;

    margin-bottom: 2.4rem;

    .social-links {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 1.8rem;

      .logo-icon {
        transition: all 0.5s;
      }

      .logo-icon:hover,
      .logo-icon:active {
        filter: brightness(1.8) invert(1);
      }
    }
  }

  .divider {
    border: none;
    border-top: 1.2px solid #bbb;

    margin-bottom: 4.2rem;
  }
}

.nav-container {
  display: flex;
  justify-content: space-between;
  padding-right: 15rem;

  text-transform: uppercase;
  font-weight: 700;
  .footer-heading {
    margin-bottom: 2.4rem;

    color: #bbb;
  }

  .footer-nav {
    list-style: none;
    line-height: 1.8;

    .footer-link:link,
    .footer-link:visited {
      text-decoration: none;
      color: $color-neutral--very-dark-violet;

      transition: all 0.5s;
    }

    .footer-link:hover,
    .footer-link:active {
      text-decoration: underline;
    }
  }
}
