/*
=============== 
Variables
===============
*/
:root {
  /* font size*/
  --text-xl: 62.5%;
  --text-base: 56.25%;
  --text-sm: 50%;
  /* primary color */
  --clr-primary-right-red: hsl(356, 100%, 66%);
  --clr-primary-very-light-red: hsl(355, 100%, 74%);
  --clr-primary-very-dark-blue: hsl(208, 49%, 24%);
  /* neutral color */
  --clr-neutral-white: hsl(0, 0%, 100%);
  --clr-neutral-grayish-blue: hsl(240, 2%, 79%);
  --clr-neutral-very-dark-grayish-blue: hsl(207, 13%, 34%);
  --clr-neutral-very-dark-black-blue: hsl(240, 10%, 16%);
  /* gradient color */
  /* Background gradient - Intro/CTA mobile nav */
  --clr-gradient-very-light-red: hsl(13, 100%, 72%);
  --clr-gradient-light-red: hsl(353, 100%, 62%);

  --Very-dark-gray-blue-gradient: hsl(237, 17%, 21%);
  --Very-dark-desaturated-blue-gradient: hsl(237, 23%, 32%);
  --clr-blogr-bg-gradient: linear-gradient(
    to right,
    hsl(237, 17%, 21%),
    hsl(237, 23%, 32%)
  );

  /* Background gradient - body */
  --clr-gradient-very-dark-gray-blue: hsl(237, 17%, 21%);
  --clr-gradient-very-dark-desaturated-blue: hsl(237, 23%, 32%);
  /* dark shades of primary color*/
  --clr-primary-1: hsl(22, 28%, 21%);
  --clr-primary-2: hsl(22, 28%, 29%);
  --clr-primary-3: hsl(22, 28%, 37%);
  --clr-primary-4: hsl(22, 28%, 45%);
  /* primary/main color */
  --clr-primary-5: hsl(22, 31%, 52%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(22, 31%, 60%);
  --clr-primary-7: hsl(22, 31%, 67%);
  --clr-primary-8: hsl(20, 31%, 74%);
  --clr-primary-9: hsl(22, 31%, 81%);
  --clr-primary-10: hsl(22, 31%, 88%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.16rem;
  --radius: 0.4rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
  /* font family */
  --font-overpass: "Overpass", sans-serif;
  --font-ubuntu: "Ubuntu", sans-serif;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--text-xl);
}
body {
  font-family: var(--font-overpass);
  line-height: 1.5;
  font-size: 1.6rem;
  background-color: hsla(240, 31%, 95%, 0.587);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
hr {
  border: none;
  border-top: 1px solid var(--clr-grey-8);
}
h1,
h2,
h3,
h4,
h5 {
  letter-spacing: var(--spacing);
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--font-ubuntu);
}

h1 {
  font-size: 3.2rem;
}

label {
  font-size: 1.6rem;
}
p {
  margin-bottom: 1rem;
}
