@import "./settings/_settings";

main {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  // background-color: rgb(164, 225, 164);
}

.card-container {
  width: 60rem;
  background-color: aqua;
  padding: 3.6rem;
}

.header-box {
  margin-bottom: 3.6rem;
}

.desc-box {
  display: flex;
  gap: 6rem;
  .subscription {
    // margin-right: 12rem;
  }
  .about-us {
    ul {
      list-style-type: none;
    }
  }
}
