@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html {
    @apply text-xl;
  }

  body {
    @apply text-[1.6rem];
  }

  #root {
    @apply w-full h-screen flex justify-center items-center bg-[hsl(240,60%,95%)];
  }

  .main_content {
    @apply w-[90vw] h-[90vh] text-center;
  }

  .title {
    @apply text-[hsl(232,13%,33%)] text-[3.2rem] capitalize font-bold;
  }

  .main_content .toggle_div {
    @apply flex gap-[1rem] w-full items-center justify-center my-[3rem] mx-0 text-[hsl(233,13%,49%)] font-bold;
  }

  .toggle_div .toogle_btn {
    @apply bg-[hsl(237,63%,64%)] w-[4rem] h-[2.2rem] rounded-[3rem] flex items-center cursor-pointer relative;
  }

  .toogle_btn .toggle {
    @apply w-[1.6rem] h-[1.6rem] bg-white rounded-full absolute right-[3px] transition-all duration-100 ease-in;
  }

  .grid_content .content {
    @apply mt-[2rem] w-full h-[35rem] grid grid-cols-3 rounded-[.8rem] items-center;
  }

  .content > div {
    @apply text-center bg-[hsl(240,78%,98%)] p-[1.8rem] h-[35rem] shadow-[0px_0px_20px_hsl(234,14%,74%)];
  }

  .content > div:nth-child(1) {
    @apply rounded-tl-[12px] rounded-bl-[12px];
  }

  .content > div:nth-child(3) {
    @apply rounded-tr-[12px] rounded-br-[12px];
  }

  .first .head {
    @apply font-bold text-[hsl(232,13%,33%)];
  }

  .price {
    @apply flex items-center gap-2.5 m-4 justify-center;
  }

  .first ul {
    @apply flex flex-col list-none text-[hsl(232,13%,33%)] my-[1rem] font-bold;
  }

  .dollar_sign {
    @apply text-[hsl(232,13%,33%)] text-[1.6rem] font-bold;
  }
}

#root {
  background-image: url(src/assets/bg-bottom.svg), url(src/assets/bg-top.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: left 0vw bottom 0vh, right 0vw top 0vh;
}
