@import "./settings/_settings";

.card {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  // background-color: $color-neutral--light-grayish-blue-1;
  margin-bottom: 2rem;
  font-size: 1.4rem;
  padding: 1.5rem;
  border-radius: 6px;

  .image {
    width: 4rem;
    height: 4rem;
  }
}

.desc {
  // position: relative;
  margin-bottom: 0.8rem;
  .name {
    font-size: 1.4rem;
    display: inline;
  }

  .stats {
    display: inline;
    margin-left: 4px;
  }
}

.dot {
  width: 8px;
  height: 8px;
  margin-left: 8px;
  background-color: $color-primary--red;

  content: "";
  display: none;
  border-radius: 50%;
  // position: absolute;
  top: 50%;
  left: 50%;
  // transform: translate(-50%, -50%);
}

.display-dot {
  display: inline-block;
}

.time {
  color: $color-neutral--grayish-blue;
}
