@import "./settings/_settings";

.people {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card {
  display: flex;
  font-size: 1.4rem;
  padding: 1.5rem;
  border-radius: 6px;
  justify-content: space-between;

  .card-about {
    display: flex;
    gap: 1.8rem;
  }

  .image {
    width: 4rem;
    height: 4rem;
  }
}

.unread-card {
  background-color: hsl(210, 60%, 98%);
}

.info {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.desc {
  // position: relative;
  // margin-bottom: 0.8rem;
  .name {
    font-size: 1.4rem;
    display: inline;
    cursor: pointer;
  }

  .stats {
    display: inline;
    margin-left: 4px;
  }
}

.dot {
  width: 8px;
  height: 8px;
  margin-left: 8px;
  background-color: $color-primary--red;

  content: "";
  display: none;
  border-radius: 50%;
  top: 50%;
  left: 50%;
}

.display-dot {
  display: inline-block;
}

.time {
  color: $color-neutral--grayish-blue;
}

.message {
  border: 1px solid hsl(210, 14%, 91%);
  padding: 1.2rem;
  border-radius: 5px;
  line-height: 1.3;
  cursor: pointer;
  // background-color: rgb(204, 241, 204);
}

.picture-send {
  width: 40px;
  height: 40px;
  border-radius: px;
  cursor: pointer;
}

/**************************/
/* Active State */
/**************************/
.name:active,
.name:hover {
  color: $color-primary--blue;
}

.post,
.group {
  cursor: pointer;
  color: hsl(219, 12%, 42%);
}
.post:active,
.post:hover {
  color: $color-primary--blue;
}

.group:active,
.group:hover {
  color: $color-primary--blue;
}

.message:active,
.message:hover {
  background-color: hsl(205, 33%, 90%);
  border: 1px solid hsl(205, 33%, 90%);
}
