@import "../../styles/settings/_settings";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 9.6rem;
  padding: 0 16rem;
  position: relative;

  z-index: 999;
}
