@use "../../styles/settings/_settings" as *;

.section-cta {
  padding: 4.8rem 0 9.6rem 0;
}

.cta-container {
  .cta-text-box {
    position: relative;
    z-index: 1;

    background-color: $color-primary--dark-violet;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;

    color: $color-neutral--very-light-gray;
    padding: 7rem 7rem;

    .heading-primary {
      display: inline-block;
      width: 46rem;

      font-family: $font-family--dm-serif-display--serif;
      font-weight: 400;
      font-size: 5.2rem;
    }

    .call-btn {
      text-align: center;
      text-decoration: none;
      border: 0.25rem solid hsl(0, 10%, 85%);

      padding: 1.2rem 2.2rem;
      text-transform: uppercase;

      font-weight: 400;
      color: $color-neutral--very-light-gray;
      cursor: pointer;
      transition: all 0.5s;

      z-index: 999;
    }

    .call-btn:hover,
    .call-btn:active {
      background-color: hsl(0, 10%, 85%);
      color: $color-primary--dark-violet;
    }
  }

  .cta-text-box::before {
    content: "";
    display: block;
    position: absolute;

    transform: translate(-50%, -50%);

    width: 487px;
    height: 245px;
    top: 12.2rem;
    right: -30.5rem;

    z-index: 1;

    background-image: url("../../assets/images/bg-pattern-how-we-work-desktop.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
}
